body, html{
    box-sizing: border-box;
    height: 100%;
    line-height: 1em;
}
#contenedor{
    height: 100%;
}
#contenedor2{
    height: calc(100% - 60px);
}

.site-login {
    background: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
@media only screen and (max-width:767px){
    .site-login{
        background: url(../img/fondo3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
a.btn-menu{
    width: 200px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

a.btn-menu:hover{
    color: gold;
}
.form-login {
    background-color: rgba(255, 255,255, .6);
    width: 300px;
    margin: auto;
    padding: 1em;
}

#pantallaMovil {
    height: 100%;
    background: url(../img/fondoMapaToay.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#pantallaMovil button{
    font-size: 16px;
}

@media only screen and (min-width:768px){
    #pantallaMovil{
    background: url(../img/fondoMapaToay2.jpg);
    }
    #pantallaMovil button{
        font-size: 1rem;
    }
}

.menu-principal{
    background-image: url('../img/fondo8.jpg'); 
    height:100vh;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: #ffc107;
}

#wrap {
    margin: 0;
    width: 100%;
    color: #ffc107;
    font-family: 'Oswald', sans-serif;
}

.widget {
    margin: 0;
    margin-top: 5px;
}

.widget p{
    display: inline-block;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.widget .fecha{
    padding-bottom: 0;
    text-align: center;
    font-size: 1em;
    margin-bottom: 0.3125rem;
    background: rgba(0, 0, 0, .8);
    padding: 5px;
    width: 100%;
}

.reloj{
    font-weight: 700;
    width: 100%;
    font-size: 3em;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    margin: 0;
    padding: 0;
}

.reloj .caja-segundos{
    display: inline-block;
}

.reloj .segundos, .reloj .ampm{
    font-size: 1.5rem;
    margin: 0;
    display: block;
}

.table td{
    vertical-align: middle;
}

.ui-datepicker th{
    padding-top: 0;
    padding-bottom: 0;
}

div#reservas .table-responsive{
    min-height: 35vh;
    max-height: 35vh;
}

div#choferes_viajes .table-responsive{
    max-height: 38vh;
}

#tabla-viajes thead tr th, #tabla_reservas thead tr th, #tabla_ctacte thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
}

#menu-servicios li a.active{
    background-color: #343a40;
    color: white;
    border-bottom-color: #343a40;
    font-weight: 600;
}

div#det_ctacte .table-responsive{
    min-height: 65vh;
    max-height: 65vh;
}


 /* menu desplegable de consola */
 .sidenav {
     margin-top: 49px;
    height: 0; 
    width: 100%; 
    position: fixed; 
    z-index: 100; 
    top: 0; 
    left: 0;
    background-color: #343a40; 
    overflow-x: hidden; 
    transition: 0.5s; 
}

.sidenav a , .sidenav span{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .sidenav span:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    right: 50%;
    bottom: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#downNav{
    transition: 0.5s ease-in-out all;
    -moz-transition: all ease-in-out 0.5s;
}

#downNav:hover{
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s ease-in-out all;
    -moz-transition: all ease-in-out 0.5s;
}


/* botones pantalla movil */

#pantallaMovil .btn.active{
    border-bottom: solid 4px red;
}